<header>
  <h1>CONSCIENTIZAÇÃO E EMPODERAMENTO</h1>
  <p>
    Essas formas de agressão são complexas, perversas, não ocorrem isoladas umas
    das outras e têm graves consequências para a mulher. Qualquer uma delas
    constitui ato de violação dos direitos humanos e deve ser denunciada.
  </p>
  <p>
    "Esvazia-me os olhos e condena-me à escuridão eterna... – que eu, mais do
    que nunca, dos limos da alma, me erguerei lúcida, bramindo contra tudo:
    Basta! Basta! Basta!" Noémia de Sousa, poeta
  </p>
</header>

<section class="flex">
  <article>
    <img src="/HackathonDecola/src/assets/Violencia.jpg" alt="Violência Física" />
    <h2>VIOLÊNCIA FÍSICA</h2>
    <p>Entendida como qualquer conduta que ofenda a integridade ou saúde corporal da mulher.</p>
    <p>ESPANCAMENTO
      ATIRAR OBJETOS, SACUDIR E APERTAR OS BRAÇOS
      ESTRANGULAMENTO OU SUFOCAMENTO
      LESÕES COM OBJETOS CORTANTES OU PERFURANTES
      FERIMENTOS CAUSADOS POR QUEIMADURAS OU ARMAS DE FOGO
      TORTURA</p>
  </article>
  <article>
    <img src="/HackathonDecola/src/assets/violenciaPsi.jpg" alt="Violência Psicolígica"/>
    <h2>VIOLÊNCIA PSICOLÓGICA</h2>
    <p>É considerada qualquer conduta que: cause dano emocional e diminuição da autoestima; prejudique e perturbe o pleno desenvolvimento da mulher; ou vise degradar ou controlar suas ações, comportamentos, crenças e decisões.</p>
    <p>AMEAÇAS
      CONSTRANGIMENTO
      HUMILHAÇÃO
      MANIPULAÇÃO
      ISOLAMENTO (PROIBIR DE ESTUDAR E VIAJAR OU DE FALAR COM AMIGOS E PARENTES)
      VIGILÂNCIA CONSTANTE
      PERSEGUIÇÃO CONTUMAZ
      INSULTOS
      CHANTAGEM
      EXPLORAÇÃO
      LIMITAÇÃO DO DIREITO DE IR E VIR
      RIDICULARIZAÇÃO
      TIRAR A LIBERDADE DE CRENÇA
      DISTORCER E OMITIR FATOS PARA DEIXAR A MULHER EM DÚVIDA SOBRE A SUA MEMÓRIA E SANIDADE (GASLIGHTING)</p>
  </article>
  <article>
    <img src="/HackathonDecola/src/assets/violenciaSexual.jpg" alt="Violência Sexual" />
    <h2>VIOLÊNCIA SEXUAL</h2>
    <p>Trata-se de qualquer conduta que constranja a presenciar, a manter ou a participar de relação sexual não desejada mediante intimidação, ameaça, coação ou uso da força.</p>
    <p>ESTUPRO
      OBRIGAR A MULHER A FAZER ATOS SEXUAIS QUE CAUSAM DESCONFORTO OU REPULSA
      IMPEDIR O USO DE MÉTODOS CONTRACEPTIVOS OU FORÇAR A MULHER A ABORTAR
      FORÇAR MATRIMÔNIO, GRAVIDEZ OU PROSTITUIÇÃO POR MEIO DE COAÇÃO, CHANTAGEM, SUBORNO OU MANIPULAÇÃO
      LIMITAR OU ANULAR O EXERCÍCIO DOS DIREITOS SEXUAIS E REPRODUTIVOS DA MULHER</p>
  </article>
  <article>
    <img src="/HackathonDecola/src/assets/violenciapatrimonial.jpeg" alt="Violêcia Patrimonial"/>
    <h2>VIOLÊNCIA PATRIMONIAL</h2>
    <p>Entendida como qualquer conduta que configure retenção, subtração, destruição parcial ou total de seus objetos, instrumentos de trabalho, documentos pessoais, bens, valores e direitos ou recursos econômicos, incluindo os destinados a satisfazer suas necessidades.</p>
    <p>CONTROLAR O DINHEIRO
      DEIXAR DE PAGAR PENSÃO ALIMENTÍCIA
      DESTRUIÇÃO DE DOCUMENTOS PESSOAIS
      FURTO, EXTORSÃO OU DANO
      ESTELIONATO
      PRIVAR DE BENS, VALORES OU RECURSOS ECONÔMICOS
      CAUSAR DANOS PROPOSITAIS A OBJETOS DA MULHER OU DOS QUAIS ELA GOSTE</p>
    <img src="/HackathonDecola/src/assets/violenciapatrimonial.jpeg" alt="Violêcia Patrimonial"/>
    <h2>VIOLÊNCIA MORAL</h2>
    <p>É considerada qualquer conduta que configure calúnia, difamação ou injúria.</p>
    <p>ACUSAR A MULHER DE TRAIÇÃO
    EMITIR JUÍZOS MORAIS SOBRE A CONDUTA
    FAZER CRÍTICAS MENTIROSAS
    EXPOR A VIDA ÍNTIMA
    REBAIXAR A MULHER POR MEIO DE XINGAMENTOS QUE INCIDEM SOBRE A SUA ÍNDOLE
    DESVALORIZAR A VÍTIMA PELO SEU MODO DE SE VESTIR</p>
  </article>
</section>
<footer>
  <h2>CULTURA DA VIOLÊNCIA E DISCRIMINAÇÃO</h2>
  <p>Seja na esfera pública ou privada, os abusos contra a mulher ocorrem de muitas formas. Frases como: "Mulher direita não bebe.", "Se Usou essa saia na rua é porque tá pedindo", "Lugar de mulher é na cozinha".
  Entre tantas outras, compõem o panorama cultural de uma sociedade patriarcal que legitima, banaliza, promove e silencia diante da violência contra a mulher. <p>
  <h3>Referências</h3>
  <p>BRASIL. Lei n. 11.340, de 7 de agosto de 2006. Disponível em: http://www.planalto.gov.br/ccivil_03/_Ato2004-2006/2006/Lei/L11340.htm. Acesso em: 27 jul. 2018.

    PENHA, Maria da. Sobrevivi... posso contar. 2. ed. Fortaleza: Armazém da Cultura, 2012.</p>
</footer>
