<mat-card>
  <mat-card-title>Denúncia</mat-card-title>
  <div class=forms>
    <form action="">

      <h4>Criar seu post</h4>

      <label for="Imagem">Nome: </label>
      <input type="text" (keyup)="setNome($event)" placeholder="Nome"/>
      <br><br>
      <label for="Imagem">Contato: </label>
      <input type="text" (keyup)="setContato($event)" placeholder="E-mail ou telefone">
      <br><br>
      <label for="Texto">Texto: </label>
      <input type="text" (keyup)="setTexto($event)" placeholder="Mensagem" />
      <br><br>
    </form>
    <button (click)="contatoNovo($event)">Enviar</button>
    </div>
</mat-card>
